* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.length {
  display: flex;
}
.length > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.length > :hover {
  transform: scale(1.1);
  transition: transform 0.15s;
}
.navbar {
  display: flex;
  background-color: yellowgreen;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width: auto;
  position: relative;
}
.navbar > a {
  display: flex;
  margin-left: 10px;
  color: white;
}

.currency {
  display: flex;
  flex-direction: row-reverse;
}
.currency > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.currency > :hover {
  transform: scale(1.1);
  transition: transform 0.15s;
}

.btn-length {
  clear: left;
  width: 100px;
  height: 20px;
}

.btn-currency {
  clear: left;
  width: 100px;
  height: 20px;
}
